@import "tailwindcss";

:root {
  --font-base: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-base);
  background-color: #e7e7e7;
  color: #111827;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}